.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  .title{
    font-size: 3rem;line-height:40px;
    padding: 2rem 0;
  }

  .search-field{
    width: 100%;
  }
  
  .book-list {
    list-style: none;
    padding: 0;
  }
  
  .book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .book-info h2 {
    margin-top: 0;
  }
  
  .author {
    font-style: italic;
  }
  
  .book-actions {
    text-align: center;
    margin-top: 15px;
  }
  
  .btn {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s;
    color: #D1B000; 
  }
  
  .btn:hover {
    color: #e9cf3c; 
  }
  
  .fas {
    font-size: 1.5em; 
  }

  

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fabebe;
    font-size: 20px;




    &.is-favorite {
      color: red;

      :hover {
        color: #fff;
        text-shadow: 0 0 10px gray; 
      }
    }

    :hover {
      color: red;
      text-shadow: 0 0 10px gray;
    }
  }
  
  @media screen and (min-width: 801px) {
    .container{
      width: 90%;
      margin: 0 auto;
      max-width: unset;
    }
    .title{
      font-size: 4rem;
    }

    .search-field{
      width: 40%;
    }
    .search-input-wrapper{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  .book-list{
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
  }

  }
  