<div class="container">
    <header class="header">
      <h1 class="title">Game of Thrones Books</h1>
    </header>
<div class="search-input-wrapper">

    <mat-form-field appearance="outline" class="custom-mat-form-field search-field">
        <mat-label>Search Books</mat-label>
        <input matInput [formControl]="searchControl" class="input">
    </mat-form-field>
</div>
  
    <ul class="book-list">
      <li class="book-item" *ngFor="let book of books" (click)="goToDetailsPage(book)">
        <div class="book-info">
          <h2>{{ book.name }}</h2>
          <p class="author">Author: {{ book.authors.join(', ') }}</p>
          <p>Pages: {{ book.numberOfPages }}</p>
          <p>Publisher: {{ book.publisher }}</p>
          <p>Released: {{ book.released | date }}</p>
        </div>
        <div >
              <button class="btn" (click)="onManageFavorites($event, book)" class="favorite-btn"  [ngClass]="{'is-favorite': gotBooksService.isInFavorites(book.url)}" >
                <i class="fas fa-heart"></i> 
            </button>
        </div>
      </li>
    </ul>
  </div>
  