.component-conteiner {
    height: 100%;
    padding-top: 20px;
    background: url('../assets/images/background1.png');
    background-repeat: no-repeat;
    background-attachment: scroll; /* Keeps the background image fixed during scrolling */
    background-size: cover; 
    overflow:scroll;
}

