/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body { margin: 0; font-family: 'Yatra One', sans-serif; }


@import '@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family:'Yatra One, sans-serif',
);

@include angular-material-typography($custom-typography);


:root {

    --mdc-outlined-text-field-caret-color: #D1B000;
    --mdc-outlined-text-field-focus-outline-color: #D1B000;
    --mdc-outlined-text-field-focus-label-text-color: #D1B000;
    --mdc-protected-button-container-color: #D1B000;
}

.custom-mat-form-field {
    .mat-form-field-outline {
      border-radius: 10px; // Adjust the border-radius as needed
    }
  
    .mat-form-field-label {
      color: grey; // Change label color if needed
    }
  
    .mat-form-field-infix {
      border-radius: 10px; // Adjust for inner input field
      input {
        border-radius: 10px; // Border-radius for the input element
      }
    }
  
    // Adjust styles for focused state
    &.mat-focused .mat-form-field-outline-thick {
      border-color: #ad9312; // Example color when the field is focused
    }

 
  }

  ::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    border: 1px solid goldenrod !important; 
  }
  


  .mat-mdc-raised-button.mat-primary { 
    --mdc-protected-button-container-color: #D1B000;

  }

  .mat-mdc-text-field-wrapper {
    background-color: white;
  }
  