/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body { margin: 0; font-family: 'Yatra One', sans-serif; }


@import '@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family:'Yatra One, sans-serif',
);

@include angular-material-typography($custom-typography);


:root {

    --mdc-outlined-text-field-caret-color: #2c2cd2;
    --mdc-outlined-text-field-focus-outline-color: #2c2cd2;
    --mdc-outlined-text-field-focus-label-text-color: #2c2cd2;
    --mdc-protected-button-container-color: #2c2cd2;
}

.custom-mat-form-field {
    .mat-form-field-outline {
      border-radius: 10px;
    }
  
    .mat-form-field-label {
      color: grey; 
    }
  
    .mat-form-field-infix {
      border-radius: 10px; 
      input {
        border-radius: 10px; 
      }
    }
  
    &.mat-focused .mat-form-field-outline-thick {
      border-color: #2c2cd2; 
    }

 
  }

  ::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    border: 1px solid #2c2cd2 !important; 
  }
  


  .mat-mdc-raised-button.mat-primary { 
    --mdc-protected-button-container-color: #2c2cd2;

  }

  .mat-mdc-text-field-wrapper {
    background-color: white;
  }
  
  .favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fabebe;
    font-size: 20px;




    &.is-favorite {
      color: red;

      :hover {
        color: #fff;
        text-shadow: 0 0 10px gray; 
      }
    }

    :hover {
      color: red;
      text-shadow: 0 0 10px gray;
    }
  }