.login-container {
    max-width: 100%;
    height: 100%;   
   // background-image: url("../../assets/images/game-of-thrones.png");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
  

  
    @media (min-width: 768px) {
     // max-width: 400px;

    }

    .form-conteiner {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7); /* Set the background color with opacity */
        border-radius: 8px;
        padding: 20px;


        .form-style {
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 768px) {
            width: 400px;
            height: 400px;
            
        }
    }
  }
  