<div *ngIf="bookCharacterDetails?.book">
    <div class="book-detail-conteiner">
    <div class="header-conteiner">
    <h1>{{bookCharacterDetails.book.name}}</h1>
    <button class="btn" class="favorite-btn"  (click)="onManageFavorites($event, bookCharacterDetails.book)" [ngClass]="{'is-favorite': booksService.isInFavorites(bookCharacterDetails.book.url)}" >
        <i class="fas fa-heart"></i> 
    </button>
    </div>
    <p class="author">Author: {{ bookCharacterDetails.book.authors.join(', ') }}</p>
    <p>Pages: {{ bookCharacterDetails.book.numberOfPages }}</p>
    <p>Publisher: {{ bookCharacterDetails.book.publisher }}</p>
    <p>Released: {{ bookCharacterDetails.book.released | date }}</p>
    <p>Country: {{bookCharacterDetails.book.country}}</p>
    <p>ISBN: {{ bookCharacterDetails.book.isbn }}</p>
    <p>Number of pages: {{bookCharacterDetails.book.numberOfPages}}</p>

    </div>
    <div class="characters-container">
    <h1> Characthers:</h1>
    <ul class="book-list">
        <li class="book-item" *ngFor="let characther of bookCharacterDetails.characters">
            
            <img src="assets/images/novo3.png" alt="{{characther.name}}">
            <p class="chracter-name">
              {{ characther.name }}
            </p>
        </li>

    </ul>
    </div>





</div>