.book-detail-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    justify-content: start;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;

    @media (min-width: 768px) {
        width: 90%;
    }

}

.characters-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;

    @media (min-width: 768px) {
        width: 90%;
    }
}

.book-list{
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

}  
.book-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(#D1B000, 0.4);
    color: black;
    border-radius: 5px;
    gap: 10px;
    padding: 10px 5px;
    max-width: 200px;
    min-height: 155px;
}

.book-item img{
    width: 75%;
    border-radius: 10px;
}

.chracter-name {
    margin: 0;
   
}

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 15px;

    & h1 {
       margin: 0; 
    }
}
@media screen and (min-width: 801px) {}